<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Работа с числами</title>
</head>
<body>

    <!-- Если параметр `numbers` не None и не пустой список, то... -->
    {% if numbers %}
        <!-- ...обработчик шаблонов в цикле вставляет все числа из списка -->
        <p>Числовые значения:
            {% for n in numbers %}
            {{ n }},
            {% endfor %}
        </p>
    {% else %}
        <!-- ...иначе просто сообщаем, что чисел нет -->
        <p>Числовых значений нет.</p>
    {% endif %}

    <p>
        <a href="/save/1">Записать 1</a><br>
        <a href="/save/18">Записать 18</a>
    </p>

    <p>
        <a href="/load">Загрузить числа</a>
    </p>

</body>
</html>